
h4{
    font-weight: 300;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
 font-size: .5em;
 color: lightgrey;
 font-family: Arial, Helvetica, sans-serif;
 
}
.img_pete{
  
    width:  100%;
}

.navbar{
    background-color: rgb(104, 50, 50);
    color: white;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.container{

 background-color: rgba(164, 165, 163, 0.315);
 width: 25%;
 margin: 0 auto;
 margin-top: 80px;
    
 border: 10px;




}
