
h4{
    font-weight: 300;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
 font-size: .5em;
 color: lightgrey;
 font-family: Arial, Helvetica, sans-serif;
 
}
.img_pete{
  
    width:  100%;
}

.navbar{
    background-color: rgb(62, 62, 131);        
    color: white;
    font-size: 25px;
    font-family: serif; 
    text-emphasis-color: whitesmoke ;
}

.container{

 background-color: rgba(50, 55, 83, 0.979);
 width: 25%;
 margin: 0 auto;
 margin-top: 80px;
 color: black;  
 border: 10px;
 font-size: 1.75em;




}
